<!--管理者側-->
<div class="container">
  <h1>商品一覧</h1>
  <span class="icon">
    <%= link_to new_admin_food_path do %>
      <i class="fa-solid fa-circle-plus fa-3x"></i>
    <% end %>
  </span>
  <table class="table">
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>税抜価格</td>
      <td>ジャンル</td>
      <td>ステータス</td>
    </tr>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.id %></td>
      <td>
        <%= link_to admin_food_path(food.id) do %>
          <%= food.name %>
        <% end %>
      </td>
      <td><%= food.price %></td>
      <td><%= food.genre.name %></td>
      <% if food.get_status(food.sale_status) == "販売中" %>
        <td class="text-success font-weight-bold"><%= food.get_status(food.sale_status) %></td>
      <% else %>
        <td class="text-secondary font-weight-bold"><%= food.get_status(food.sale_status) %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <div class='p-top__paginate'><%= paginate @foods %></div>
</div>