<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <div class="border border-dark px-3">
        <p>ジャンル検索</p>
          <% @genres.each do |genre| %>
            <p>
              <%= link_to search_path(tag_name: genre.name) do %>
                <%= genre.name %>
              <% end %>
            </p>

          <% end %>
      </div>
    </div>
    <div class="col">
      <div class="main-container text-center ">
        <div class="pt-5">
          <p class="h3 font-weight-bold">ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります<br>
          会員でない方も商品の閲覧はできますが<br>
          購入には会員登録が必要になります</p>
        </div>
      </div>
      <h3>新着商品</h3>
      <div class="d-flex flex-wrap justify-content-between">
      <% @foods.each do |food| %>
        <div>
         <%= link_to public_food_path(food.id) do %>
           <%= image_tag food.image,size: '150x150' %>
         <% end %>
           <p class="text-center"><%= food.name %></p>
           <p class="text-center">¥<%= food.price %></p>
        </div>
      <% end %>
      </div>
      <%= link_to  public_foods_path do %>
        <p>全ての商品を見る</p>
      <% end %>
    </div>
  </div>
</div>