<div class="container">
  <h1>会員情報編集</h1>
  <P>会員ID<%= @customer.id %></P>
<%= form_with model: @customer,url:admin_customer_path(@customer.id) do |f| %>

  <div>
    氏名
    <%= f.text_field :first_name %>
 　　<%= f.text_field :last_name %>
  </div>
  <div> 
    フリガナ
    <%= f.text_field :first_name_kana %>
 　　<%= f.text_field :last_name_kana %>
  </div>
   <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
   <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number %>
  </div>
   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  
  <div class="actions">
  <%= form_with(model: @customer, local: true) do |form| %>
  <%= form.radio_button :is_deleted, :true %>
  <%= form.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
  <%= form.radio_button :is_deleted, :false %>
  <%= form.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存",class: "btn btn-success" %>
  </div>  
  <% end %>
<% end %>
</div>