<div class="container">
  <h1>会員情報編集</h1>
 <%= form_with model: @customer do |f| %>

   <div>
    氏名
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
  </div>
   <div>
    フリガナ
    <%= f.text_field :first_name_kana %>
    <%= f.text_field :last_name_kana %>
  </div>
   <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
   <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number %>
  </div>
   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit "edit",class: "btn btn-outline-success" %>
  　<%= link_to "退会",unsubscribe_path, class: "btn btn-danger" %>
  </div>　
<% end %>
</div>