<div class="container">
 <h1>会員詳細</h1>
       <p><%= link_to "プロフィール編集", edit_customer_path(@customer.id) %></p>
       <p><%= @customer.first_name %></p>
       <p><%= @customer.last_name %></p>
       <p><%= @customer.first_name_kana %></p>
       <p><%= @customer.last_name_kana %></p>
       <p><%= @customer.postal_code %></p>
       <p><%= @customer.telephone_number %></p>
       <p><%= @customer.address %></p>
       <p><%= link_to "注文履歴一覧",public_orders_path %></p>
       <p><%= link_to "配送先一覧",new_address_path %></p>
</div>